<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.Mapper.AptMapper">

	<resultMap type="AptCoordsDto" id="newAptCoordsDto">
		<!-- 1:1로 DTO의 멤버변수를 매핑 -->
		<result column="sigungu" property="SIGUNGU" />
		<result column="bungi" property="BUNGI" />
		<result column="apartmentname" property="APARTMENTNAME" />
		<result column="roadname" property="ROADNAME" />
		<result column="lat" property="LAT" />
		<result column="lng" property="LNG" />
	</resultMap>

	<select id="getMarkers" parameterType="hashMap">

		select SIGUNGU, BUNGI, APARTMENTNAME, LAT, LNG from COORDINATES where
		SIGUNGU like

		<choose>
			<when test="sido == '세종특별자치시'">
				#{sido} || '%'
			</when>
			<otherwise>
				#{sido} || '%' AND SIGUNGU LIKE '%' || #{sigungu} || '%'
			</otherwise>
		</choose>

		group by SIGUNGU, BUNGI, APARTMENTNAME, LAT, LNG

	</select>

	<select id="getAptTransactionHistory">

		select * from
		<choose>

			<when test="korSido == '서울특별시'">SEOUL</when>
			<when test="korSido == '부산광역시'">BUSAN</when>
			<when test="korSido == '대구광역시'">DAEGU</when>
			<when test="korSido == '인천광역시'">INCHEON</when>
			<when test="korSido == '광주광역시'">GWANGJU</when>
			<when test="korSido == '대전광역시'">DAEJEON</when>
			<when test="korSido == '울산광역시'">ULSAN</when>
			<when test="korSido == '세종특별자치시'">SEJONG</when>
			<when test="korSido == '경기도'">GYEONGGIDO</when>
			<when test="korSido == '강원특별자치도'">GANGWONDO</when>
			<when test="korSido == '충청북도'">CHUNGCHEONGBUKDO</when>
			<when test="korSido == '충청남도'">CHUNGCHEONGNAMDO</when>
			<when test="korSido == '전북특별자치도'">JEOLLABUKDO</when>
			<when test="korSido == '경상북도'">GYEONGSANGBUKDO</when>
			<when test="korSido == '경상남도'">GYEONGSANGNAMDO</when>
			<when test="korSido == '제주특별자치도'">JEJU</when>

			<otherwise>
				${korSido}
			</otherwise>
		</choose>

		where SIGUNGU = #{aptCoordsDto.SIGUNGU} and APARTMENTNAME =
		#{aptCoordsDto.APARTMENTNAME} and BUNGI = #{aptCoordsDto.BUNGI}

	</select>

	<select id="getRoadName">

		select RoadName from COORDINATES where SIGUNGU = #{aptCoordsDto.SIGUNGU} and
		APARTMENTNAME = #{aptCoordsDto.APARTMENTNAME} and BUNGI =
		#{aptCoordsDto.BUNGI}

	</select>
	
</mapper>	