<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.Mapper.AptMapper">

    <resultMap type="AptCoordsDto" id="newAptCoordsDto">
  	<!-- 1:1로 DTO의 멤버변수를 매핑-->
  	<result column="sigungu" property="SIGUNGU"/>
  	<result column="bungi" property="BUNGI"/>
  	<result column="apartmentname" property="APARTMENTNAME"/>
  	<result column="roadname" property="ROADNAME"/>
  	<result column="lat" property="LAT"/>
  	<result column="lng" property="LNG"/>
	</resultMap>   
    
    <select id="getMarkers" parameterType="hashMap">
    
    select SIGUNGU, BUNGI, APARTMENTNAME, LAT, LNG from LATLNG where SIGUNGU like 
    
    <choose>
        <when test="city == '세종특별자치시'">
            #{city} || '%'
        </when>
        <otherwise>
            #{city} || '%' AND SIGUNGU LIKE '%' || #{district} || '%'
        </otherwise>
    </choose>
    
    group by SIGUNGU, BUNGI, APARTMENTNAME, LAT, LNG  
    
    </select>
    
    <select id = "getAptTrancsactionHistory">
    
    select * from ${tableName} where SIGUNGU = #{aptCoordsDto.SIGUNGU} and APARTMENTNAME = #{aptCoordsDto.APARTMENTNAME} and BUNGI = #{aptCoordsDto.BUNGI}
    
    </select>
    
    <select id = "getRoadName">
    
    select RoadName from LATLNG where SIGUNGU = #{aptCoordsDto.SIGUNGU} and APARTMENTNAME = #{aptCoordsDto.APARTMENTNAME} and BUNGI = #{aptCoordsDto.BUNGI}
    
    </select>
</mapper>	