<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.Mapper.AutoAptDataMapper">
    
    <resultMap type="AptCoordsDto" id="newAptCoordsDto">
  	<!-- 1:1로 DTO의 멤버변수를 매핑-->
  	<result column="sigungu" property="SIGUNGU"/>
  	<result column="bungi" property="BUNGI"/>
  	<result column="apartmentname" property="APARTMENTNAME"/>
  	<result column="roadname" property="ROADNAME"/>
  	<result column="lat" property="LAT"/>
  	<result column="lng" property="LNG"/>
	</resultMap>   
    
    <insert id="dataInsert" parameterType="hashMap">
    
    insert into ${regionName} (SIGUNGU, BUNGI, BONBUN, BUBUN, APARTMENTNAME,AREAFOREXCLUSIVEUSE,DEALYEARMONTH,DEALDAY,DEALAMOUNT,APARTMENTDONG,FLOOR,BUYERGBN,SELLERGBN,BUILDYEAR,ROADNAME,CANCLEDEALDAY,REQGBN,RDEALERLAWDNM,REGISTRATIONDATE,SGGCD) 
    values 
    (
    #{aptTransactionDto.SIGUNGU},
    #{aptTransactionDto.BUNGI},
    #{aptTransactionDto.BONBUN},
    #{aptTransactionDto.BUBUN},
    #{aptTransactionDto.APARTMENTNAME},
    #{aptTransactionDto.AREAFOREXCLUSIVEUSE},
    #{aptTransactionDto.DEALYEARMONTH},
    #{aptTransactionDto.DEALDAY},
    #{aptTransactionDto.DEALAMOUNT},
    #{aptTransactionDto.APARTMENTDONG},
    #{aptTransactionDto.FLOOR},
    #{aptTransactionDto.BUYERGBN},
    #{aptTransactionDto.SELLERGBN},
    #{aptTransactionDto.BUILDYEAR},
    #{aptTransactionDto.ROADNAME},
    #{aptTransactionDto.CANCLEDEALDAY},
    #{aptTransactionDto.REQGBN},
    #{aptTransactionDto.RDEALERLAWDNM},
    #{aptTransactionDto.REGISTRATIONDATE},
    #{aptTransactionDto.SGGCD}
    )
    
    </insert>
    
    <delete id="deleteByRegionYear">
    
    delete from ${regionName} where DEALYEARMONTH >= #{year}
    
    </delete>
    
</mapper>	