<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.Mapper.DataMapper">
    
    <resultMap type="NameCountDto" id="newNameCountDto">
  	<!-- 1:1로 DTO의 멤버변수를 매핑-->
  	<result column="sigungu" property="SIGUNGU"/>
  	<result column="bungi" property="BUNGI"/>
  	<result column="apartmentname" property="APARTMENTNAME"/>
  	<result column="roadname" property="ROADNAME"/>
  	<result column="lat" property="LAT"/>
  	<result column="lng" property="LNG"/>
  	<result column="count" property="COUNT"/>
	</resultMap>   
    
     <resultMap type="ApiDto" id="newApiDto">
  	<!-- 1:1로 DTO의 멤버변수를 매핑-->
  	<result column="SIGUNGU" property="SIGUNGU"/>
  	<result column="BUNGI" property="BUNGI"/>
  	<result column="BONBUN" property="BONBUN"/>
  	<result column="BUBUN" property="BUBUN"/>
  	<result column="APARTMENTNAME" property="APARTMENTNAME"/>
  	<result column="AREAFOREXCLUSIVEUSE" property="AREAFOREXCLUSIVEUSE"/>
  	<result column="DEALYEARMONTH" property="DEALYEARMONTH"/>
  	<result column="DEALDAY" property="DEALDAY"/>
  	<result column="DEALAMOUNT" property="DEALAMOUNT"/>
  	<result column="APARTMENTDONG" property="APARTMENTDONG"/>
  	<result column="FLOOR" property="FLOOR"/>
  	<result column="BUYERGBN" property="BUYERGBN"/>
  	<result column="SELLERGBN" property="SELLERGBN"/>
  	<result column="BUILDYEAR" property="BUILDYEAR"/>
  	<result column="ROADNAME" property="ROADNAME"/>
  	<result column="CANCLEDEALDAY" property="CANCLEDEALDAY"/>
  	<result column="REQGBN" property="REQGBN"/>
  	<result column="RDEALERLAWDNM" property="RDEALERLAWDNM"/>
  	<result column="REGISTRATIONDATE" property="REGISTRATIONDATE"/>
  	<result column="SGGCD" property="SGGCD"/>
	</resultMap>   
    
    <select id="getList">
    
    select SIGUNGU,BUNGI,ROADNAME,APARTMENTNAME from ${tableName} group by SIGUNGU,BUNGI,ROADNAME,APARTMENTNAME order by SIGUNGU DESC
    
    </select>
    
    <select id = "get" parameterType="NameCountDto">
    
    select * from LATLNG2 where SIGUNGU = #{SIGUNGU} and BUNGI = #{BUNGI} and ROADNAME = #{ROADNAME} and APARTMENTNAME = #{APARTMENTNAME}
   
    </select>
    
    <insert id="insert" parameterType="NameCountDto">
    
    insert into LATLNG2 (SIGUNGU, BUNGI, LAT,LNG,ROADNAME,APARTMENTNAME) values (#{SIGUNGU},#{BUNGI},#{LAT},#{LNG},#{ROADNAME},#{APARTMENTNAME})
    
    </insert>
    
    <!-- <insert id="DataInsert" parameterType="java.util.List">
    
    ${tableName}
    <foreach collection="list" item="ApiDto" separator=" " open="INSERT ALL" close="SELECT 1 FROM DUAL">
    into ${tableName} (SIGUNGU, BUNGI, BONBUN, BUBUN, APARTMENTNAME,AREAFOREXCLUSIVEUSE,DEALYEARMONTH,DEALDAY,DEALAMOUNT,APARTMENTDONG,FLOOR,BUYERGBN,SELLERGBN,BUILDYEAR,ROADNAME,CANCLEDEALDAY,REQGBN,RDEALERLAWDNM,REGISTRATIONDATE,SGGCD) 
    VALUES 
    (
    #{ApiDto.SIGUNGU},
    #{ApiDto.BUNGI},
    #{ApiDto.BONBUN},
    #{ApiDto.BUBUN},
    #{ApiDto.APARTMENTNAME},
    #{ApiDto.AREAFOREXCLUSIVEUSE},
    #{ApiDto.DEALYEARMONTH},
    #{ApiDto.DEALDAY},
    #{ApiDto.DEALAMOUNT},
    #{ApiDto.APARTMENTDONG},
    #{ApiDto.FLOOR},
    #{ApiDto.BUYERGBN},
    #{ApiDto.SELLERGBN},
    #{ApiDto.BUILDYEAR},
    #{ApiDto.ROADNAME},
    #{ApiDto.CANCLEDEALDAY},
    #{ApiDto.REQGBN},
    #{ApiDto.RDEALERLAWDNM},
    #{ApiDto.REGISTRATIONDATE},
    #{ApiDto.SGGCD}
    )
    </foreach>
    </insert> -->
    
    <insert id="DataInsert">
    
    INSERT into ${RegionName} (SIGUNGU, BUNGI, BONBUN, BUBUN, APARTMENTNAME,AREAFOREXCLUSIVEUSE,DEALYEARMONTH,DEALDAY,DEALAMOUNT,APARTMENTDONG,FLOOR,BUYERGBN,SELLERGBN,BUILDYEAR,ROADNAME,CANCLEDEALDAY,REQGBN,RDEALERLAWDNM,REGISTRATIONDATE,SGGCD) 
    VALUES 
    (
    #{ApiDto.SIGUNGU},
    #{ApiDto.BUNGI},
    #{ApiDto.BONBUN},
    #{ApiDto.BUBUN},
    #{ApiDto.APARTMENTNAME},
    #{ApiDto.AREAFOREXCLUSIVEUSE},
    #{ApiDto.DEALYEARMONTH},
    #{ApiDto.DEALDAY},
    #{ApiDto.DEALAMOUNT},
    #{ApiDto.APARTMENTDONG},
    #{ApiDto.FLOOR},
    #{ApiDto.BUYERGBN},
    #{ApiDto.SELLERGBN},
    #{ApiDto.BUILDYEAR},
    #{ApiDto.ROADNAME},
    #{ApiDto.CANCLEDEALDAY},
    #{ApiDto.REQGBN},
    #{ApiDto.RDEALERLAWDNM},
    #{ApiDto.REGISTRATIONDATE},
    #{ApiDto.SGGCD}
    )
    
    </insert>
    
    
    <select id="getTotalCount" parameterType="hashMap">
    
    select ${EnglishMonth} from TOTALCOUNT where REGION = #{REGION} and REGIONCODE = #{REGIONCODE} and YEAR = #{YEAR}
    
    </select>
    
    <update id="updateTotalCount" parameterType="string">
    
    update TOTALCOUNT set ${EnglishMonth} = #{totalCount} where REGION = #{REGION} and REGIONCODE = #{REGIONCODE} and YEAR = #{YEAR}
    
    </update>
    
    <select id="getOldApiDto">
    
    select * from ${REGION} where DEALYEARMONTH = #{YEAR} and SGGCD = #{LAWD_CD}
    
    </select>
    
    <delete id="deleteRegionYear">
    
    delete from ${REGION} where dealyearmonth >= #{YEAR}
    
    </delete>
    
</mapper>	