<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.Mapper.DataMapper">
    
    <resultMap type="NameCountDto" id="newNameCountDto">
  	<!-- 1:1로 DTO의 멤버변수를 매핑-->
  	<result column="sigungu" property="SIGUNGU"/>
  	<result column="bungi" property="BUNGI"/>
  	<result column="apartmentname" property="APARTMENTNAME"/>
  	<result column="roadname" property="ROADNAME"/>
  	<result column="lat" property="LAT"/>
  	<result column="lng" property="LNG"/>
	</resultMap>   
    
    <select id="getList">
    
    select sigungu,bungi,roadname,apartmentname,count(*) from ${tableName} group by sigungu,bungi,roadname,apartmentname order by sigungu desc
    
    </select>
    
    <select id = "get" parameterType="NameCountDto">
    
    select * from latlng where SIGUNGU = #{SIGUNGU} and BUNGI = #{BUNGI} and LAT = #{LAT} and LNG = #{LNG} and ROADNAME = #{ROADNAME} and APARTMENTNAME = #{APARTMENTNAME}
    
    </select>
    
    
    <insert id="insert" parameterType="NameCountDto">
    
    insert into LATLNG (SIGUNGU, BUNGI, LAT,LNG,ROADNAME,APARTMENTNAME) values (#{SIGUNGU},#{BUNGI},#{LAT},#{LNG},#{ROADNAME},#{APARTMENTNAME})
    
    </insert>
    <insert id="DataInsert" parameterType="java.util.List">
    
    
    <foreach collection="list" item="ApiDto" separator=" " open="INSERT ALL" close="SELECT 1 FROM DUAL">
    into dummy (SIGUNGU, BUNGI, BONBUN, BUBUN, APARTMENTNAME,AREAFOREXCLUSIVEUSE,DEALYEARMONTH,DEALDAY,DEALAMOUNT,APARTMENTDONG,FLOOR,BUYERGBN,SELLERGBN,BUILDYEAR,ROADNAME,CANCLEDEALDAY,REQGBN,RDEALERLAWDNM,REGISTRATIONDATE) 
    VALUES 
    (
    #{ApiDto.SIGUNGU},
    #{ApiDto.BUNGI},
    #{ApiDto.BONBUN},
    #{ApiDto.BUBUN},
    #{ApiDto.APARTMENTNAME},
    #{ApiDto.AREAFOREXCLUSIVEUSE},
    #{ApiDto.DEALYEARMONTH},
    #{ApiDto.DEALDAY},
    #{ApiDto.DEALAMOUNT},
    #{ApiDto.APARTMENTDONG},
    #{ApiDto.FLOOR},
    #{ApiDto.BUYERGBN},
    #{ApiDto.SELLERGBN},
    #{ApiDto.BUILDYEAR},
    #{ApiDto.ROADNAME},
    #{ApiDto.CANCLEDEALDAY},
    #{ApiDto.REQGBN},
    #{ApiDto.RDEALERLAWDNM},
    #{ApiDto.REGISTRATIONDATE}
    )
    </foreach>
    </insert>
</mapper>	